# Copy this file to .env and fill in values
# Use it with: flutter run --dart-define-from-file=.env

# Application Environment (development, staging, production)
APP_ENV=development

# Node.js Backend (local dev)
# For web or emulator localhost:
API_BASE_URL=http://localhost:3000/api/v1

# For physical device testing on same network, use your local IP:
# API_BASE_URL=http://192.168.x.x:3000/api/v1
host:3002

# ============================================
# DATABASE CONFIGURATION (PostgreSQL)
# ============================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=askualink_hr
DB_USER=postgres
DB_PASSWORD=password

# ============================================
# JWT AUTHENTICATION
# ============================================
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

# ============================================
# Groq API
# ============================================
GROQ_API_KEY=your_GROQ_API_KEY_here

# ============================================
# EMAIL SERVICE (NodeMailer - SMTP)
# ============================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_specific_password

# ============================================
# REDIS (for BullMQ job queue)
# ============================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Brevo( for sending email)
# ============================================
BREVO_API_KEY=your_real_brevo_api_key_here
SENDER_EMAIL=your_verified_email@example.com
SENDER_NAME=Your App Name

# CLOUDFLARE R2 for file STORAGE
# ============================================
R2_ENDPOINT=your_r2_endpoint_url_here
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET_NAME=your_bucket_name

 